.carousel-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden; 
    border: 1px solid #e0e0e0; /* Adiciona a borda visível */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}

/* CSS do carousel */
.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
}

/* CSS do carousel-item */
.carousel-item {
    flex: 0 0 200px;
    height: 200px;
    margin-right: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carousel-nav {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    display: none;
}

.carousel-nav.left {
    margin-right: 10px;
}

.carousel-nav.right {
    margin-left: 10px;
}