<app-header></app-header>
<div class="container">
  <div class="content">
    <app-carousel [items]="categories" (itemSelected)="onSelectedCategory($event)"></app-carousel>
  </div>
  <div class="content">
    <div class="app-list-container">
      <app-app-list [items]="appList" (itemSelected)="onAppSelected($event)"></app-app-list>
    </div>
    <div class="app-details-container">
      <app-app-details [selectedApp]="selectedApp"></app-app-details>
    </div>
  </div>
</div>
<app-app-steps></app-app-steps>
<app-footer></app-footer>